#help-nav {
    background-color: white;
    border-color: white;
}

#help-nav .container {
    max-width: 1070px;
    width: 100%;
}

#help-nav .navbar-nav {
    margin-top: 22px;
    margin-right: 12px !important;
}

#help-nav .navbar-toggle {
    border: 0 none;
    border-radius: 4px;
    margin-top: 21px;
}

#help-nav .navbar-toggle,
#help-nav .navbar-toggle:active,
#help-nav .navbar-toggle:focus,
#help-nav .navbar-toggle:hover {
    background-color: transparent;
}

#help-nav .icon-bar {
    background-color: #001722;
    border-radius: 1px;
    height: 4px;
    width: 28px;
}

#help-nav .navbar-brand {
    height: 76px;
    padding: 12px 15px 13px;
}

#help-nav .navbar-brand img {
    width: 100px;
}

#help-nav .navbar-collapse {
    border: 0 none;
}

#help-nav .collapsing .navbar-nav,
#help-nav .in .navbar-nav {
    padding-right: 10px;
    text-align: right;
}

#help-nav .navbar-nav a {
    border-radius: 4px;
    color: #001722;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    margin-left: 15px;
    opacity: .9;
    padding: 11px 3px 7px;
    text-transform: uppercase;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
    #help-nav .navbar-nav a {

        letter-spacing: -1px;

    }
}

#help-nav .navbar-nav a:active,
#help-nav .navbar-nav a:hover {
    outline: none;
    color: #28d222;
}

#help-nav .navbar-nav a:focus {
    outline: none;
    color: #001722;
}

@media only screen and (min-width:530px) and (max-width:990px) {
    #help-nav .navbar-nav a {
        margin-left: 6px;
        padding-left: 5px;
        padding-right: 2px;
    }
}

@media only screen and (min-width:1630px) {
    #help-nav .navbar-nav a {
        margin-left: 27px;
    }
}

#help-nav .active a {
    outline: none;
    color: #28d222;
    background-color: white;
}

#help-nav .active a:active,
#help-nav .active a:focus,
#help-nav .active a:hover {
    outline: none;
    color: #28d222;
}

#help-nav .navbar-toggle.collapsed .icon-bar:nth-of-type(2) {
    top: 0;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

#help-nav .navbar-toggle.collapsed .icon-bar:nth-of-type(3) {
    margin-left: 0;
    opacity: 1;
    width: 100%;
}

#help-nav .navbar-toggle.collapsed .icon-bar:nth-of-type(4) {
    bottom: 0;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

#help-nav .navbar-toggle .icon-bar {
    position: relative;
    transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
}

#help-nav .navbar-toggle .icon-bar:nth-of-type(2) {
    transform: translateY(8px) rotate(45deg);
    -webkit-transform: translateY(8px) rotate(45deg);
}

#help-nav .navbar-toggle .icon-bar:nth-of-type(3) {
    margin-left: 50%;
    opacity: 0;
    width: 0;
}

#help-nav .navbar-toggle .icon-bar:nth-of-type(4) {
    transform: translateY(-8px) rotate(-45deg);
    -webkit-transform: translateY(-8px) rotate(-45deg);
}

@media only screen and (max-width:820px) {
    #help-nav .navbar-brand {
        padding-top: 15px;
    }

    #help-nav .navbar-brand img {
        width: 80px;
    }

    #help-nav .navbar-brand {
        padding-right: 0;
    }
}

@media only screen and (max-width:668px) {
    #help-nav .navbar-brand {
        height: 55px;
        padding: 10px 15px 9px;
    }

    #help-nav .navbar-brand img {
        height: 30px;
    }

    #help-nav .navbar-toggle {
        margin-top: 10px;
    }
}
