<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page.title }}</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta charset="utf-8" />
    <meta content="KitleOyun is a tiny game development studio striving to deliver top-quality strategy games."
        name="description" />
    <meta content="KitleOyun Games" property="og:title" />
    <meta content="KitleOyun" property="og:site_name" />
    <link href="/static/images/favicon.ico" rel="shortcut icon" />
    <link href="/static/libs/css/slick.css" rel="stylesheet" />
    <link href="/static/libs/css/slick-theme.css" rel="stylesheet" />
    <link href="/static/libs/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/styles/main.css" rel="stylesheet" />
    {% if page.url == '/about/' %}
        <link href="/static/styles/about.css" rel="stylesheet" />
    {% endif %}
    {% if page.url == '/news/' %}
        <link href="/static/styles/news.css" rel="stylesheet" />
    {% endif %}
</head>

<body class="{{ page.body_class }}" id="{{ page.body_id }}">
    <!-- Navigation-->
    <nav class="navbar navbar-default navbar-fixed-top" id="main-nav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-target="#navbar-ex1-collapse" data-toggle="collapse"
                    type="button"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="/."><img src="/static/images/kitleoyun-logo.svg" /></a>
            </div>
            <nav class="collapse navbar-collapse" id="navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if page.url == '/games/' %}
                      <li class="active"><a href="/games">Games</a></li>
                    {% else %}
                      <li><a href="/games">Games</a></li>
                    {% endif %}
                    {% if page.url == '/news/' or page.page_category == "news-item" %}
                      <li class="active"><a href="/news">News</a></li>
                    {% else %}
                      <li><a href="/news">News</a></li>
                    {% endif %}
                    {% if page.url == '/support/' %}
                      <li class="active"><a href="/support">Support</a></li>
                    {% else %}
                      <li><a href="/support">Support</a></li>
                    {% endif %}
                    {% if page.url == '/about/' %}
                      <li class="active"><a href="/about">About</a></li>
                    {% else %}
                      <li><a href="/about">About</a></li>
                    {% endif %}
                    {% if page.url == '/contact/' %}
                      <li class="active"><a href="/contact">Contact</a></li>
                    {% else %}
                      <li><a href="/contact">Contact</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </nav>

    {{ content }}

    <footer class="footer">
        <div class="container">
            <p class="links"><a href="/support">SUPPORT</a><a href="https://forum.kitleoyun.com"
                    target="_blank">FORUMS</a><a href="/privacy">PRIVACY&nbsp;POLICY</a>
                <a href="/terms">TERMS&nbsp;of&nbsp;USE</a>
            </p>
            <p class="footer-social">
                <a class="logo_footer" href="."><img src="/static/images/kitleoyun-logo.png" /></a>
                <a class="facebook" href="https://www.facebook.com/kitle0yun" target="_blank">
                    <img src="/static/images/fb.png" />
                </a>
                <a class="youtube" href="https://www.youtube.com/channel/UCSN3FTlthSD_Rwcg5Q-i5QQ" target="_blank">
                    <img src="/static/images/tube.png" />
                </a>
                <a class="instagram" href="https://instagram.com/kitleoyun" target="_blank">
                    <img src="/static/images/insta.png" />
                </a>
                <a class="linkedin" href="https://www.linkedin.com/company/kitleoyun" target="_blank">
                    <img src="/static/images/lin.png" />
                </a>
                <a class="twitter" href="https://twitter.com/kitleoyun" target="_blank">
                    <img src="/static/images/tw.png" />
                </a>
                <a class="vk" href="https://vk.com/kitleoyun" target="_blank">
                    <img src="/static/images/vk.png" />
                </a>
                <br />
                <p class="copyright">©2019</p>
            </p>
        </div>
    </footer>
    <script src="/static/libs/js/jquery.min.js"></script>
    <script src="/static/libs/js/bootstrap.min.js"></script>
    <script src="/static/libs/js/slick.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/cookie-message.js"></script>
</body>

</html>