---
layout: toi_help
body_class: page-help
help_category: building
---

<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-4">
		<ul class="nav flex-column">
			<li class="nav-item">
				{% if page.building_type == 'Harbor' %}
					<a class="nav-link active" href="/tribes-of-isoterra/help/building/harbor.html">Harbor</a>
				{% else %}
					<a class="nav-link" href="/tribes-of-isoterra/help/building/harbor.html">Harbor</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.building_type == 'Fish Farm' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/building/fish_farm.html">Fish Farm</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/building/fish_farm.html">Fish Farm</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.building_type == 'Farm' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/building/farm.html">Farm</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/building/farm.html">Farm</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.building_type == 'Windmill' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/building/windmill.html">Windmill</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/building/windmill.html">Windmill</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.building_type == 'Lumber Hut' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/building/lumber_hut.html">Lumber Hut</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/building/lumber_hut.html">Lumber Hut</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.building_type == 'Sawmill' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/building/sawmill.html">Sawmill</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/building/sawmill.html">Sawmill</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.building_type == 'Mine' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/building/mine.html">Mine</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/building/mine.html">Mine</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.building_type == 'Forge' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/building/forge.html">Forge</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/building/forge.html">Forge</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.building_type == 'Temple' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/building/temple.html">Temple</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/building/temple.html">Temple</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.building_type == 'Fort' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/building/fort.html">Fort</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/building/fort.html">Fort</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.building_type == 'Small Village' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/building/small_village.html">Small Village</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/building/small_village.html">Small Village</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.building_type == 'Large Village' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/building/large_village.html">Large Village</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/building/large_village.html">Large Village</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.building_type == 'Ruins' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/building/ruins.html">Ruins</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/building/ruins.html">Ruins</a>
				{% endif %}
			</li>
		</ul>
	</div>
	<div class="col-sm-6">
		{{ content }}
	</div>
	<div class="col-sm-1"></div>
  </div>
