---
layout: toi_help
body_class: page-help
help_category: technology
---

<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-4">
		<ul class="nav flex-column">
			<li class="nav-item">
				{% if page.technology_type == 'Hunting' %}
					<a class="nav-link active" href="/tribes-of-isoterra/help/technology/hunting.html">Hunting</a>
				{% else %}
					<a class="nav-link" href="/tribes-of-isoterra/help/technology/hunting.html">Hunting</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Riding' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/riding.html">Riding</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/riding.html">Riding</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Fishing' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/fishing.html">Fishing</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/fishing.html">Fishing</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Writing' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/writing.html">Writing</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/writing.html">Writing</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Gathering' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/gathering.html">Gathering</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/gathering.html">Gathering</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Climbing' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/climbing.html">Climbing</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/climbing.html">Climbing</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Organization' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/organization.html">Organization</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/organization.html">Organization</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Archery' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/archery.html">Archery</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/archery.html">Archery</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Forestry' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/forestry.html">Forestry</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/forestry.html">Forestry</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Cavalry Tactics' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/cavalry_tactics.html">Cavalry Tactics</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/cavalry_tactics.html">Cavalry Tactics</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Roads' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/roads.html">Roads</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/roads.html">Roads</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Seafaring' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/seafaring.html">Seafaring</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/seafaring.html">Seafaring</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Whaling' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/whaling.html">Whaling</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/whaling.html">Whaling</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Philosophy' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/philosophy.html">Philosophy</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/philosophy.html">Philosophy</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Mathematics' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/mathematics.html">Mathematics</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/mathematics.html">Mathematics</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Farming' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/farming.html">Farming</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/farming.html">Farming</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Medicine' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/medicine.html">Medicine</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/medicine.html">Medicine</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Mining' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/mining.html">Mining</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/mining.html">Mining</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Exploration' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/exploration.html">Exploration</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/exploration.html">Exploration</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Offensive Tactics' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/offensive_tactics.html">Offensive Tactics</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/offensive_tactics.html">Offensive Tactics</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Defensive Tactics' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/defensive_tactics.html">Defensive Tactics</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/defensive_tactics.html">Defensive Tactics</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Botany' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/botany.html">Botany</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/botany.html">Botany</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Environmentalism' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/environmentalism.html">Environmentalism</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/environmentalism.html">Environmentalism</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Carpentry' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/carpentry.html">Carpentry</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/carpentry.html">Carpentry</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Chivalry' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/chivalry.html">Chivalry</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/chivalry.html">Chivalry</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Currency' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/currency.html">Currency</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/currency.html">Currency</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Trade' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/trade.html">Trade</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/trade.html">Trade</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Navigation' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/navigation.html">Navigation</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/navigation.html">Navigation</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Naval Tradition' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/naval_tradition.html">Naval Tradition</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/naval_tradition.html">Naval Tradition</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Aquatism' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/aquatism.html">Aquatism</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/aquatism.html">Aquatism</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Diplomacy' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/diplomacy.html">Diplomacy</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/diplomacy.html">Diplomacy</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Science' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/science.html">Science</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/science.html">Science</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Construction' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/construction.html">Construction</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/construction.html">Construction</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Irrigation' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/irrigation.html">Irrigation</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/irrigation.html">Irrigation</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Growth' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/growth.html">Growth</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/growth.html">Growth</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Tribal Council' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/tribal_council.html">Tribal Council</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/tribal_council.html">Tribal Council</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Smithery' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/smithery.html">Smithery</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/smithery.html">Smithery</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Spiritualism' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/spiritualism.html">Spiritualism</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/spiritualism.html">Spiritualism</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Geology' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/geology.html">Geology</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/geology.html">Geology</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Advanced Warfare' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/advanced_warfare.html">Advanced Warfare</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/advanced_warfare.html">Advanced Warfare</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Military Tradition' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/military_tradition.html">Military Tradition</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/military_tradition.html">Military Tradition</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.technology_type == 'Discipline' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/technology/discipline.html">Discipline</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/technology/discipline.html">Discipline</a>
				{% endif %}
			</li>
		</ul>
	</div>
	<div class="col-sm-6">
		{{ content }}
	</div>
	<div class="col-sm-1"></div>
  </div>
