---
layout: toi_help
body_class: page-help
help_category: ability
---

<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-4">
		<ul class="nav flex-column">
			<li class="nav-item">
				{% if page.ability_type == 'Move Hill' %}
					<a class="nav-link active" href="/tribes-of-isoterra/help/ability/move_hill.html">Move Hill</a>
				{% else %}
					<a class="nav-link" href="/tribes-of-isoterra/help/ability/move_hill.html">Move Hill</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.ability_type == 'Move Mountain' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/ability/move_mountain.html">Move Mountain</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/ability/move_mountain.html">Move Mountain</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.ability_type == 'Move Sea' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/ability/move_sea.html">Move Sea</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/ability/move_sea.html">Move Sea</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.ability_type == 'Move Ocean' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/ability/move_ocean.html">Move Ocean</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/ability/move_ocean.html">Move Ocean</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.ability_type == 'Defend Open Terrain' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/ability/defend_open_terrain.html">Defend Open Terrain</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/ability/defend_open_terrain.html">Defend Open Terrain</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.ability_type == 'Defend Hill' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/ability/defend_hill.html">Defend Hill</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/ability/defend_hill.html">Defend Hill</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.ability_type == 'Defend Mountain' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/ability/defend_mountain.html">Defend Mountain</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/ability/defend_mountain.html">Defend Mountain</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.ability_type == 'Defend Water' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/ability/defend_water.html">Defend Water</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/ability/defend_water.html">Defend Water</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.ability_type == 'Defend Forest' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/ability/defend_forest.html">Defend Forest</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/ability/defend_forest.html">Defend Forest</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.ability_type == 'Hit and Run' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/ability/hit_and_run.html">Hit and Run</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/ability/hit_and_run.html">Hit and Run</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.ability_type == 'Charge and Retreat' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/ability/charge_and_retreat.html">Charge and Retreat</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/ability/charge_and_retreat.html">Charge and Retreat</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.ability_type == 'Flank' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/ability/flank.html">Flank</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/ability/flank.html">Flank</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.ability_type == 'Faster Research' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/ability/faster_research_10.html">Faster Research</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/ability/faster_research_10.html">Faster Research</a>
				{% endif %}
			</li>
			<li class="nav-item">
				{% if page.ability_type == 'Scatter Shot' %}
				<a class="nav-link active" href="/tribes-of-isoterra/help/ability/scatter_shot.html">Scatter Shot</a>
				{% else %}
				<a class="nav-link" href="/tribes-of-isoterra/help/ability/scatter_shot.html">Scatter Shot</a>
				{% endif %}
			</li>
		</ul>
	</div>
	<div class="col-sm-6">
		{{ content }}
	</div>
	<div class="col-sm-1"></div>
  </div>
